/* set global font family, change background color*/

body {
      font-family: sans-serif, monospace;
      background-color: darkgray;
      top: auto;
      left: 100px;
      }

/* unvisited link*/
a link {
  color: white;}
  
/*selected link*/
a:active{
  color: red
        }

/* Center on page, set width */

.content-wrapper {
    width: 5em 5em;
    text-align: center;
    
}

/*make bigger and change color and style (change font family san seerif) and center */

header h1{ 
      background-color: white; 
      color: blueviolet;
      text-align: center;
      font-size: 3em;
 }

.top nav a {
  float: left;
  display: block;
  background color: mediumpurple;
  text-align: center;
  padding: 20px 20px
  font color: white
  }


aside {
  /* background color, float clear, clear both, float left, font color  */
  clear: both;
  float: left;
  padding:
  
  
}

aside ul {
  /* clear both. links?? */
  
}
  
article {
  /* background-color, float to the right?, font size  */
  background color: lightgray;
  font-size: 100%
  }
  
 /* figure we want to center that using margin, size font */
figure {
  
  display: block;
  
  
}

p.center {
  text-align: center;
  color: black;
  }

footer {
  /* images float left and center on page (float the images, create links and center links) */
  
  
  }








