/* set global font family, change background color*/

body {
      font-family: sans-serif, monospace;
      background-color: darkgray;
      top: auto;
      left: 100px;
      }

/* Center on page, set width */

.content-wrapper {
    width: 5em 5em;
    text-align: center;
    
}

/*make bigger and change color and style (change font family san seerif) and center */

header h1{ 
      background-color: white; 
      color: blueviolet;
      text-align: center;
      font-size: 3em;
        }

.main nav {
  /* change background color, remove bullets, add border on each individual nav element.  create, float the links, padding  to center  the content within the links , width on links, font color, white, font family sans serif, */
  background-color: blueviolet;
  font color: white;
  font-family: sans-serif monospace;}
  
  <a href="Photo 1" class="">Photo 1</a>
  <a href="Photo 2" class="">Photo 2</a>
  <a href="Photo 3" class="">Photo 3</a>
  
  

<div class="topnav" id="myTopnav">  

<a href="#home">Home</a>  
<a href="#news">News</a> 
<a href="#contact">Contact</a> 
<a href="#about">About</a>

</div>


aside {
  /* background color, float clear, clear both, float left, font color  */
  background-color: mediumpurple;
  clear: both;
  float: left;
  padding:
  
  
}

aside ul {
  /* clear both. links?? */
}
  
article {
  /* background-color, float to the right?, font size  */
  
  }
  
 /* figure we want to center that using margin, size font */
figure {
  
  display: block;
  
  
}

footer {
  /* images float left and center on page (float the images, create links and center links) */
  
  
  }








